.profileSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .manage {
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.2vw;
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: white;
      border: 1px solid white;
    }
  }

  .profileContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0px 50px;

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 8px;
      border-radius: 4px;

      .icon {
        height: 10vw;
        width: 10vw;
        max-height: 200px;
        max-width: 200px;
        min-height: 84px;
        min-width: 84px;
        position: relative;

        img {
          border: 2px solid transparent !important;
          border-radius: 4px;
        }
      }

      .manageIcon {
        img {
          opacity: .5;
        }
      }

      .editIconWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        cursor: pointer;
        img {
          border: 2px solid white !important;
        }
        .name {
          color: white;
        }
      }
    }

    .name {
      font-size: 1.3vw;
      color: gray;
    }
  }
}
